*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
form{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: 100px 600px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-family: 'Segoe UI';
    font-size: 15px;
}
button{
    border: none;
    background-color: #1877f2;
    color: #fff;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}
.f-pws{
    display: block;
    margin: auto;
    width: 200px;
    color: #1877f2;
    padding-left: 80px;
    font-family: 'Segoe UI';
    font-weight: 400;
}
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.btn2{
    width: 180px;
    font-size: 14px;
    text-align: center;
    background-color: #42b72a;
}